/*Padronização de todos os elementos*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;            
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #d5d9dc;
}

 
main{
  display: flex;
 justify-content: center;
 align-items: center;
  width: 100%;
  height: 100%;
  
}


.navegacao {
  position: fixed;
  transition: width 600ms ease;
  background: linear-gradient(180deg, #15204D 9.17%, #020E2C 36.73%);
  overflow: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

/* hover */

.navegacao ul li:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 25px 5px rgba(0,0,0,0.16);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.4s;
  background: var(--HoverMenu);
  filter: grayscale(0%) opacity(1);

}


.navegacao ul li a {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8);
  transition: var(--transition-speed);
  color: #ffffff;
  margin-left: 2px;
}

.navegacao ul li a .icone {
  display: flex;
  align-items: center;
  min-width: 60px;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
  margin-left: 2px;
}

.navegacao ul li a i {
  font-size: 24px;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #eae7e7
}


.navegacao ul li a .titulo {
  display: none;
  margin-left: 2rem;
}

.Sair {
  position: relative;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  width: 40px;
}

/* Right panel */
.right-panel {
  margin-left: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Parte inicial da Lista */
.container-lista{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

/* Titulo da lista */
.titulo-lista{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-color: #7E8CCD;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.titulo-lista h1{
  font-size: 3rem;
  color: white;
  margin-top: 5vh;
  font-family:Arial, Helvetica, sans-serif;
}


.container-filho-lista{
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}
/* Lista */

.lista-totens{
  display: flex;
  width: 50%;
  height: 15%;
  margin-top: 6%;
  margin-left: 18%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #020E2C;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: red;
}

.item-lista{
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 8px;
}

.item-lista h4{
  color: white;
  font-size: 1.1rem;
}

.item-lista p{
  color: white;
}

.item-lista h6{
  color: white;
}

.item-lista img{
  margin-bottom: 3px;
  margin-left: 3px;
}
.ultimo{
  margin-bottom: 2vh;
}

.alerta{
  border: 4px solid rgb(236, 236, 0);
  border-radius: 10px;
}

.critico{
  border: 4px solid rgb(236, 0, 0);
  border-radius: 10px;
}

/* Parte status e legenda */
.container-pai-status-legenda{
  display: flex;
  width: 25%;
  height: 50%;
  justify-content: center;
  flex-direction: column;
  margin-top: 6%;
}

.container-status{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #020E2C;
  border-radius: 15px;
  box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

.container-status h1{
  margin-top: 10%;
  color: #7E8CCD;
  border-bottom: 1px solid #99BB00;
  font-family:Arial, Helvetica, sans-serif;
}

/* Parte categotias */
.categorias {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  margin-top: 13%;
  margin-bottom: 5vh;
  width: 100%;
}

.container-categorias {
  display: flex;
}

.titulos-categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family:Arial, Helvetica, sans-serif;
}

.svg-seta {
  margin-top: 6px;
  margin-left: 8vw;
  margin-right: 2vw;
}

.categorias li {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 4%;
  border-radius: 2%;
  transition: 0.4s;
  list-style: none;
  color: #ffffff;
}


.categorias li:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: 0.4s;
}

.categorias a{
  display: flex;
  justify-content: flex-end;
  width: 107%;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 4%;
  border-radius: 2%;
  transition: 0.4s;
  list-style: none;
  color: #ffffff;
}

/* Parte do status geral e da legenda */
.container-legenda{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  background-color: #020E2C;
  border-radius: 15px;
  box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

.container-legenda h1{
  margin-top: 10%;
  color: #7E8CCD;
  border-bottom: 1px solid #99BB00;
  font-family:Arial, Helvetica, sans-serif;
}

.subcontainer-totens-problema{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-top: 3vh;
  margin-bottom: 4vh
}

.subcontainer-totens-problema h2{
  color: #7E8CCD;
  font-size: 1.3rem;
}

.dados-totens-problema{
  display: flex;
  width: 83%;
  flex-direction: column;
  margin-top: 2vh;
}

.dados-totens-problema b{
  color: white;
  font-size: 1.1rem;
  padding: 5px;
}

.dados-totens-problema img{
  margin-bottom: 3px;
  margin-left: 3px;
}

.legenda{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 3vh;
}

.legenda h2{
  color: #7E8CCD;
  font-size: 1.3rem;
}

.categorias-legenda{
  display: flex;
  width: 83%;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.categorias-legenda b{
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.1rem;
}

.categorias-legenda ul{
  display: flex;
  width: 6.5vw;
  height: 0.3vh;
  margin-top: 1.8vh;
}

.linha-alerta{
  background-color: rgb(236, 236, 0);
}

.linha-critico{
  background-color: rgb(236, 0, 0);
}

 /* espaçamento no fim da página */
.footer-space {
  display: flex;
  padding: 5%;
  width: 100%;
  margin-top:5%;
}