@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');


.main {
    margin-top: 70px;
}

.left-side {
    min-height: 514px ;
}

.input-lg, .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}