/*Padronização de todos os elementos*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;            
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    
}
::-webkit-scrollbar { width: 0.8vw; height: 3px;}
::-webkit-scrollbar-track-piece { background-color: #3a3a3a;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #959595; border-radius: 3px;}

:root {
  --Branco: #e4e4e4;
  --VerdeClaro: #e0e0e0;
  --HoverMenu:  rgba(255, 255, 255, 0.25);;
  --TextoPreto: #000;
  --adicionar: #D4FADE;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

main{
  background-color: #d5d9dc;
}

.navegacao {
  position: fixed;
  transition: width 600ms ease;
  background: linear-gradient(180deg, #15204D 9.17%, #020E2C 36.73%);
  overflow: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

/* hover */

.navegacao ul li:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 25px 5px rgba(0,0,0,0.16);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.4s;
  background: var(--HoverMenu);
  filter: grayscale(0%) opacity(1);

}


.navegacao ul li a {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8);
  transition: var(--transition-speed);
  color: #ffffff;
  margin-left: 2px;
}

.navegacao ul li a .icone {
  display: flex;
  align-items: center;
  min-width: 60px;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
  margin-left: 2px;
}

.navegacao ul li a i {
  font-size: 24px;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #eae7e7
}


.navegacao ul li a .titulo {
  display: none;
  margin-left: 2rem;
}

.Sair {
  position: relative;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  width: 40px;
}


/* Small screens */



/* Right */
/* Right panel */
.right-panel {
  
  margin-left: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
  
/* Cadastro Func */

/* CONTAINER GLOBAL */
.container-all {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 50vh;
  padding: 60px;
  border-radius: 40px;
  background-color: #ffffff;
  margin-top: 1vw;
  }
  
  /* LINHA QUE SEPARA CADASTRO EMPRESA DO FUNCIONARIO*/
  hr {
    margin-top: 5vh;
    width: 60vw;
    border-top: 5px #000D27 solid;
  }
  
  /* TITULO DO CONTAINER */
  .titulo-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .titulo-2 h3 {
    font-size: 1.6rem;
    margin-bottom: 2vh;
    color : #000
  }
  
  .titulo-2 p{
    width: 100%;
    margin-bottom: 1vh;
    color: #000;
  }
  
  
  /*CONTAINER PAI DO CADASTRO*/
  .container-pai {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
  }
  
  /*CONTAINER DOS REGISTROS DA ESQUERDA*/
  .container-filho {
    display: flex;
    width: 50%;
    margin-left: 7vw;
    flex-direction: column;
  }
  
  /*CONTAINER DOS REGISTROS DA DIREITA*/
  .container-filho-2 {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
  
  
  /*ESTILIZAÃ‡ÃƒO DAS INPUTS E TITULOS*/
  .estilo-box {
    margin-top: 1.5vw;
    color: #000
  }
  
  
  .estilo-box input {
  width: 70%;
  padding: 8px;
  }

  .estilo-box select {
    width: 70%;
    padding: 8px;
    }
  
  
  .estilo-box p {
    margin-bottom: 1vh;
    font-size: larger;
  }
  
  .estilo-box-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    margin-top: 3vh;
    color: #000;
  }
 
  
  /*ESTILIZAÃ‡ÃƒO DO BOTÃƒO*/
  
  .botao-registro {
    width: 25%;
    padding: 15px;
    margin-top: 2vw;
    background: #27508f;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    color: #fff;
    cursor: pointer;
  }
  
  .botao-registro:hover {
    background: #00194C;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
  }
  
  .combo-funcao {
    padding: 12px;
    width: 70%;
  }
  
  .red{
    box-shadow: 0px 2px #db0f0fb5;
    border: .01px solid #000;
  }
  .green{
    box-shadow: 0px 2px #7cdb0fb5;
    border: .01px solid #000;
  }
  
  .tabela-funcionarios {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  
  }
  
  .tabela-funcionarios h3{
    font-size: 1.6rem;
    color: #000;
  }
  
  .func {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 2.4px rgb(224, 224, 224) solid;
    padding: 20px;
    margin-top: 5vh;
    border-radius: 9px;
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.3);
  }
  
  .tabela-funcionarios h1 {
    text-align: center;
  }
  
  .estilo-atributos {
  display: flex;
  flex-direction: row;
  }
  
  .estilo-atributos h5 {
    font-size: 1.3rem;
  }
  
  .estilo-atributos p{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0.3vw;
  }
  .removerCard{
  width: 15%;
  padding: 15px;
  margin-top: 5vh;
  position: absolute;
  right: 50px;
  bottom: 25px;
  background: #27508f;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  color: #fff;
  cursor: pointer;
  }
  
  .removerCard:hover {
  background: #00194C;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  }  
  @media only screen and (max-width: 700px) {
    .navegacao {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      overflow: auto;
    }
    .navbar-nav {
      display: flex;
      justify-content: center;
      width: 16%;
      flex-wrap: wrap;
    }
    .nav-link {
      justify-content: center;
    }
    .right-panel{
      margin-left: 0px;
    }
    button{
      font-size: 1.2vw;
    }
    .botao-registro{
      width: 30vw;
    }
    main {
      margin: 0;
    }
  
  }
  @media only screen and (max-width: 500px) {
    .navegacao {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      overflow: auto;
    }
    .navbar-nav {
      display: flex;
      justify-content: center;
      width: 16%;
      flex-wrap: wrap;
    }
    .nav-link {
      justify-content: center;
    }
    .right-panel{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
    }
    .container-all{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: auto;
      border-radius: 0px;
      margin-left: 5vw;
      margin-top: 1vw;
    }
    .container-pai{
      display: flex;
      flex-direction: column;
      justify-content: center;
     
      width: 100%;
    }
    .container-filho{
      width: 100%;
      margin-left: 10vw;
    }
    .container-filho-2{
      width: 100%;
      margin-left: 10vw;
    }
    button{
      font-size: 1.2vw;
    }
    .botao-registro{
      width: 30vw;
    }
  
    main {
      margin: 0;
    }
  }
  /* Large screens */
  @media only screen and (min-width: 700px) {
    .navegacao{
      top: 0;
      width: 5rem;
      height: 100vh;
    }
    .navegacao:hover {
      width: 16rem;
    }
    .navegacao:hover .titulo {
      display: inline;
    }
    .navegacaos:hover 
    {
      left: 0px;
    }
  }